/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";

body {
  font-family: 'Open Sans';
}

h1, .h1 {
  text-align: center;
}

.hot {
  padding-top: 10px;
}

.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn.btn-danger:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

.form-signin {
  max-width: 330px;
  padding: 60px;
  margin: 0 auto;
}

.form-book-ticket {
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.row.no-pad {
text-align: center;
}

.events-detail .sidebar {
  max-height: 700px;
  height: 400px;
  min-height: 300px;
}

.events-detail .sidebar .ticket-list .price {
  font-size: 14px;
}

.ticket-list .row .col-md-6 {
  text-align: left;
}

.alert {
  background-color: wheat;
  color: darkslateblue;
  width: 700px;
  margin:0 auto;
}

nav.navbar {
  color: #484848;
}

.navbar-light  .navbar-nav .nav-link {
  color: white;
}

.navbar-light  .navbar-nav .nav-link:hover {
  color: #90ba3e;
}

.card-img-top {
  height: 300px;
}

.card-block {
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
  border-radius: 2px;
  float: left;
}

.card-block .card-text-div {
  width: 70%;
  float: left;
}
.card-block .card-calendar-div {
  width: 30%;
  float: left;
  padding-top: 20%;
}

.card-block .card-calendar-div .event-date {
    cursor: pointer;
    padding-left: 10px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
}

.card-block .card-calendar-div .relative {
    position: relative;
    box-sizing: border-box;
    display: block;
    border:1px solid black;
}

.card-block .card-calendar-div .relative .date-month {
    font-size: 7px;
    text-transform: uppercase;
    border-radius: 2px 2px 0 0;
    background: #EB1212;
    color: #fff;
    font-weight: 700;
    height: 14px;
    line-height: 15px;
}

.card-block .card-calendar-div .relative .date-month .date-detail {
    display: inline-block;
    height: 39px;
    width: 48px;
    background: #FFF;
    border: 1px solid #CCC;
    border-bottom-width: 3px;
    border-top: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.card-block .card-calendar-div .relative .date-month .date-detail .date-num {
    font-size: 20px;
    height: 26px;
    line-height: 27px;
    color: #666;
}

.card-block .card-calendar-div .relative .date-month .date-detail .date-day {
    height: 14px;
    line-height: 14px;
    font-size: 9px;
}

.events-list {
  margin-top: 0px;
}